In [10]:
import pandas as pd
import numpy as np

In [14]:
closing_odds = pd.read_csv ('closing_odds.csv',index_col = 0)

In [15]:
closing_odds

,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
match_id,,,,,,,,,,,,,,,,,,
170088,England: Premier League,2005-01-01,Liverpool,0,Chelsea,1,2.9944,3.1944,2.2256,3.20,3.25,2.29,Paddy Power,Sportingbet,Expekt,9,9,9
170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9,9,9
170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9,9,9
170091,England: Premier League,2005-01-01,Bolton,1,West Brom,1,1.6122,3.4133,5.4722,1.67,3.57,6.27,Coral,Pinnacle Sports,Pinnacle Sports,9,9,9
170092,England: Premier League,2005-01-01,Charlton,1,Arsenal,3,5.9878,3.4778,1.5567,7.00,3.60,1.62,Expekt,Paddy Power,bet365,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876806,World: Club Friendly,2015-06-30,St. Gallen,1,Wacker Innsbruck,2,1.6838,3.8846,3.9813,1.83,4.20,4.33,188BET,bet365,Ladbrokes,24,24,24
876807,World: Club Friendly,2015-06-30,SW Harelbeke,1,Waregem,1,13.1165,7.8229,1.1053,19.00,9.00,1.13,BetVictor,bet365,Titanbet,17,17,17
876808,World: Club Friendly,2015-06-30,Torhout,0,Club Brugge,5,17.2256,12.6231,1.0288,22.00,15.00,1.05,BetVictor,Jetbull,BetVictor,16,16,16
876809,World: Club Friendly,2015-06-30,Tournai,0,Mouscron Peruwelz,3,15.7143,10.2857,1.0614,34.00,12.00,1.10,Sportingbet,Betclic,Paddy Power,7,7,7
876812,World: Club Friendly,2015-06-30,Zavrc,0,Istra 1961,0,4.7145,3.9259,1.5650,5.46,4.25,1.70,Pinnacle Sports,888sport,Ladbrokes,22,22,22

1. create a column ('result') that determines home win, draw or away win based on the home and away scores

In [16]:
# create a list of the result we want to assign for each game
values = ['home_win', 'draw', 'away_win']

# create a list of conditions to decide the results
conditions = [
    (closing_odds["home_score"] > closing_odds["away_score"]),
    (closing_odds["home_score"] == closing_odds["away_score"]),
    (closing_odds["home_score"] < closing_odds["away_score"]),
    ]

# create a new column and use np.select to assign values to it using our lists as arguments
closing_odds['result'] = np.select(conditions, values)

# display updated DataFrame
closing_odds

,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win,result
match_id,,,,,,,,,,,,,,,,,,,
170088,England: Premier League,2005-01-01,Liverpool,0,Chelsea,1,2.9944,3.1944,2.2256,3.20,3.25,2.29,Paddy Power,Sportingbet,Expekt,9,9,9,away_win
170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9,9,9,home_win
170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9,9,9,home_win
170091,England: Premier League,2005-01-01,Bolton,1,West Brom,1,1.6122,3.4133,5.4722,1.67,3.57,6.27,Coral,Pinnacle Sports,Pinnacle Sports,9,9,9,draw
170092,England: Premier League,2005-01-01,Charlton,1,Arsenal,3,5.9878,3.4778,1.5567,7.00,3.60,1.62,Expekt,Paddy Power,bet365,9,9,9,away_win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876806,World: Club Friendly,2015-06-30,St. Gallen,1,Wacker Innsbruck,2,1.6838,3.8846,3.9813,1.83,4.20,4.33,188BET,bet365,Ladbrokes,24,24,24,away_win
876807,World: Club Friendly,2015-06-30,SW Harelbeke,1,Waregem,1,13.1165,7.8229,1.1053,19.00,9.00,1.13,BetVictor,bet365,Titanbet,17,17,17,draw
876808,World: Club Friendly,2015-06-30,Torhout,0,Club Brugge,5,17.2256,12.6231,1.0288,22.00,15.00,1.05,BetVictor,Jetbull,BetVictor,16,16,16,away_win
876809,World: Club Friendly,2015-06-30,Tournai,0,Mouscron Peruwelz,3,15.7143,10.2857,1.0614,34.00,12.00,1.10,Sportingbet,Betclic,Paddy Power,7,7,7,away_win
876812,World: Club Friendly,2015-06-30,Zavrc,0,Istra 1961,0,4.7145,3.9259,1.5650,5.46,4.25,1.70,Pinnacle Sports,888sport,Ladbrokes,22,22,22,draw

2. link the column ('result') to the column ('max_odds') for that result and also to the column ('top_bookie) that offered the max odds for that result

In [20]:
closing_odds[closing_odds.result == "home_win"].assign(max_odds=closing_odds[closing_odds.result == "home_win"].max_odds_home_win)

,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win,result,max_odds
match_id,,,,,,,,,,,,,,,,,,,,
170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9,9,9,home_win,2.04
170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9,9,9,home_win,2.00
170093,England: Premier League,2005-01-01,Manchester City,2,Southampton,1,1.7000,3.3667,4.7344,1.73,3.50,5.00,bet365,Expekt,bet365,9,9,9,home_win,1.73
170094,England: Premier League,2005-01-01,Newcastle Utd,2,Birmingham,1,1.8622,3.2500,3.9622,1.91,3.40,4.33,bet365,Sportingbet,bet365,9,9,9,home_win,1.91
170096,England: Premier League,2005-01-01,Tottenham,5,Everton,2,2.2156,3.1722,3.0444,2.29,3.20,3.35,Expekt,bet365,Pinnacle Sports,9,9,9,home_win,2.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876790,World: Club Friendly,2015-06-30,Jagodina,2,Petrolul,0,3.1961,3.3883,2.0039,3.60,3.60,2.25,BetVictor,bet365,Sportingbet,23,23,23,home_win,3.60
876792,World: Club Friendly,2015-06-30,Maccabi Tel Aviv,3,FK Vozdovac,0,1.4356,4.1900,5.6111,1.53,4.33,6.00,BetVictor,bet365,bet365,9,9,9,home_win,1.53
876795,World: Club Friendly,2015-06-30,Saratov,6,Penza,0,1.8265,3.5860,3.6135,1.95,3.75,4.00,Ladbrokes,bet365,888sport,20,20,20,home_win,1.95
876796,World: Club Friendly,2015-06-30,Chemnitzer,3,Neustrelitz,1,1.4193,4.3881,5.7211,1.50,4.79,6.60,William Hill,Pinnacle Sports,Pinnacle Sports,27,27,27,home_win,1.50
876799,World: Club Friendly,2015-06-30,Mattersburg,2,Senica,1,1.8761,3.6468,3.3546,2.00,4.13,3.60,12BET,Pinnacle Sports,888sport,28,28,28,home_win,2.00

In [21]:
closing_odds[closing_odds.result == "home_win"].assign(bookie=closing_odds[closing_odds.result == "home_win"].top_bookie_home_win)

,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win,result,bookie
match_id,,,,,,,,,,,,,,,,,,,,
170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9,9,9,home_win,Pinnacle Sports
170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9,9,9,home_win,Pinnacle Sports
170093,England: Premier League,2005-01-01,Manchester City,2,Southampton,1,1.7000,3.3667,4.7344,1.73,3.50,5.00,bet365,Expekt,bet365,9,9,9,home_win,bet365
170094,England: Premier League,2005-01-01,Newcastle Utd,2,Birmingham,1,1.8622,3.2500,3.9622,1.91,3.40,4.33,bet365,Sportingbet,bet365,9,9,9,home_win,bet365
170096,England: Premier League,2005-01-01,Tottenham,5,Everton,2,2.2156,3.1722,3.0444,2.29,3.20,3.35,Expekt,bet365,Pinnacle Sports,9,9,9,home_win,Expekt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876790,World: Club Friendly,2015-06-30,Jagodina,2,Petrolul,0,3.1961,3.3883,2.0039,3.60,3.60,2.25,BetVictor,bet365,Sportingbet,23,23,23,home_win,BetVictor
876792,World: Club Friendly,2015-06-30,Maccabi Tel Aviv,3,FK Vozdovac,0,1.4356,4.1900,5.6111,1.53,4.33,6.00,BetVictor,bet365,bet365,9,9,9,home_win,BetVictor
876795,World: Club Friendly,2015-06-30,Saratov,6,Penza,0,1.8265,3.5860,3.6135,1.95,3.75,4.00,Ladbrokes,bet365,888sport,20,20,20,home_win,Ladbrokes
876796,World: Club Friendly,2015-06-30,Chemnitzer,3,Neustrelitz,1,1.4193,4.3881,5.7211,1.50,4.79,6.60,William Hill,Pinnacle Sports,Pinnacle Sports,27,27,27,home_win,William Hill
876799,World: Club Friendly,2015-06-30,Mattersburg,2,Senica,1,1.8761,3.6468,3.3546,2.00,4.13,3.60,12BET,Pinnacle Sports,888sport,28,28,28,home_win,12BET